%% tcpcall library example configuration file.

%% -*- mode: erlang;erlang-indent-level: 4;indent-tabs-mode: nil -*-
%% ex: ft=erlang ts=4 sw=4 et

[
 {tcpcall,
  [
   %% ----------------------------------------------------------------------
   %% Client configuration

   %% Default value for max_parallel_requests option.
   %% Can be overrided on a per client (or per pool) basis.
   %% Default is 10000.
   %{client_default_max_parallel_requests, 10000},

   %% Default value for max_parallel_requests_policy option.
   %% Can be overrided on a per client (or per pool) basis.
   %% Valid values: drop_old, deny_new.
   %% Default is drop_old.
   %{client_default_max_parallel_requests_policy, drop_old},

   %% ----------------------------------------------------------------------
   %% Server configuration

   %% Default value for max_parallel_requests option.
   %% Can be overrided on a per server basis.
   %% Default is 10000.
   %{server_default_max_parallel_requests, 10000},

   %% Default value for overflow_suspend_period option.
   %% When rate of incoming casts is too high, server will send
   %% 'suspend' signal to the clients asking them to suspend for
   %% this amount of time (in millis).
   %% Can be overrided on a per server basis.
   %% Default is 5000.
   %{server_default_overflow_suspend_period, 5000}
  ]}
].
